.HomeImage {
  position: absolute;
  width: 40px;
  margin: 3rem 0 0 3rem;
  transition: .3s;
}

.HomeImage:hover{
  filter: invert(27%) sepia(0%) saturate(1000%) hue-rotate(346deg) brightness(115%) contrast(97%);
}